.action-menu-format-syllabus-container{
    width: min(83.33vw, 1600px);
    height: min(6.25vw, 120px);
    border-radius: 15px;
    border: 3px solid #343A40;
    background: #FFF;
    position: sticky;
    display: flex;
    top: 2%; 
    z-index: 10;
    justify-content: space-between;
    align-items: center;

    button{
        width: min(22.65vw, 435px);
        height: min(3.125vw, 60px);
        border: none;
        color: #FFF;
        text-align: center;
        border-radius: 10px;
        font-size: min(1.66vw, 32px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img{
            width: min(2.08vw, 40px);
        }
    }

    .return-button{
        margin-left: 2%;
        button{
            background: #343A40;
        }
    }

    .actions-buttons{
        height: 100%;
        width: min(61.97vw, 1190px);
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: end;

        background-image: url(@assets//format_syllabus//background_action_menu_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        button:first-child{
            background: #0F4E7B;
        }
        button:last-child{
            margin-right: 2%;
            background: #18662A;
        }
    }
}