asgiref
certifi
charset-normalizer
colorama
Django
django-cors-headers
djangorestframework
filelock
fsspec
huggingface-hub
idna
inflection
Jinja2
lxml
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
python-docx
PyYAML
regex
requests
safetensors
setuptools
sqlparse
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3