.date-picker-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
   

    .label-date-input{
        color: #0F4E7B;
        font-size: min(1.145vw, 22px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 2px;
    }

    .custom-input {
        display: none; /* Hide default input */
      }
      
      .input-wrapper {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: 2px solid #d1d1d1;
        width: min(14.58vw, 280px) !important;
        max-height: 60px !important;
        gap: 5px;
        justify-content: space-between;
        cursor: pointer;
       
      }
      
      .input-wrapper span {
        font-size: min(0.72vw, 14px);
        max-width: 35%; /* Ajuste para que el texto no se desborde */
        color: #0F4E7B;
        white-space: nowrap; /* Impide que el texto se rompa en varias líneas */
        overflow: hidden; /* Oculta cualquier texto que sobrepase el ancho */
        text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto desbordado */
    }
      
      .calendar-icon {
        background: url('@assets/date_input/calendar_icon.svg') no-repeat;
        width: 25px;
        height: 25px;
        background-size: contain;
      }
      
      .input-wrapper:hover {
        border-color: #1c5186; /* Highlight border on hover */
      }
      p{
        color: #343A40;
        font-size: min(0.72vw, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }
  }
  

  .table-wrapper{

    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: clamp(200px, 17.7vw, 340px);
    max-height: 80px;
    cursor: pointer;
    gap: 20px;
    justify-content: center;

    span{
        display: none;
    }

    p{
        color: #343A40;
        font-size: min(1.45vw, 28px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
    .calendar-icon {
        background: url('@assets/date_input/calendar_icon.svg') no-repeat;
        width: 30px;
        height: 30px;
        background-size: contain;
      }
  }

  .rmdp-day.rmdp-today span{
    background-color: #0e471c !important;
  }

  .rmdp-week-day{
    color: #208637 !important;
    font-weight: bold !important;
  }

  .rmdp-selected span{
    background-color: #208637 !important;
  }

   .rmdp-action-button{
    color: #0f4e7b !important;
   }
  

   .rmdp-range {
    background-color: #208637 !important;
   }

   .rmdp-panel-body li, .rmdp-panel-body li.bg-blue{

    button{
      background-color: #343A40;
    }
   }