@font-face {
    font-family: 'Aldrich';
    src: url('./Aldrich-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Aldrich', sans-serif;
}
