
  /* Estilo específico para tareas con progreso 0% */
  
  /* Para fines de semana */

.container-gantt-in-view{

    width: min(95.83vw, 1840px);

  .gantt-time-cell-weekend {
    background-color: #023568a5 !important; /* Azul oscuro */
  }
  
  .gantt-table-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50px !important;
    padding: 5px;
    text-align: center;
    min-width: 295px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: min(1.04vw, 20px);
    border-radius: 10px 0 0 0;
  }

  .gantt-table-td{
    width: auto;
    min-width: 295px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    text-align: center;
    
  }

  .gantt-main-container{
    width: 100%;
    margin: auto;
    border: 1px solid #C3C4C6;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    padding-right: 10px;

    ._CZjuD{
      svg{
        border-radius: 5px;
      }


    }
  }
}

.subtitle-gantt{

        color: #1174D6;
        font-family: Aldrich;
        font-size: min(2.1vw, 40px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-bottom: 10px;
        margin-left: 30px;
    
}

.tip-text-gantt{
    color: rgba(33, 54, 38, 0.70);
    font-family: Aldrich;
    font-size: min(1.51vw, 29px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    margin-bottom: 20px;
}