.wizard-container.next .wizard-step {
    transform: translateX(100px);
    transition: transform 0.5s ease-in-out;
  }
  
  .wizard-container.prev .wizard-step {
    transform: translateX(-100px);
    transition: transform 0.5s ease-in-out;
  }
  
  .wizard-step {
    transition: transform 0.5s ease-in-out;
  }
  